.accordionHead {
    margin-right: 10px;
}

.accordionBody {
    margin: 5px
}

.accordion-summary .forecast-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.accordion-summary {
    background-color: #F0F8FF;
}

#date {
    font-weight: bold;

    @media (max-width: 768px) {
        font-size: 0.8em;
        
    }
}

.forecast-header > div {
    margin-right: 20px;
}
  
.daylight-info p {
    margin-left: 10px;
}
  
@media (max-width: 768px) {
    .font {
        font-size: 0.7em;
    }
}